@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
.h3 {
  font-size: 250%;
  font-weight: 600;
  color: #025c5c;
}
.test {
  height: 50vh;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 4.2rem;
  font-family: "Permanent Marker", cursive;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h6 {
  font-size: 4rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #025c5c;
  padding: 1% 0 1.5%;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
header a {
  color: white;
  text-decoration: none;
}
header .logo {
  margin-left: 40%;
}
header .logo a {
  font-weight: 600;
  color: white;
  font-size: 3rem;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
}
@media (max-width: 800px) {
  header .logo {
    margin-left: 5%;
  }
}
header .buttons {
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 15%;
}
@media (max-width: 500px) {
  header .buttons {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 1% 2.5%;
  }
}
header .buttons button {
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  padding: 3% 0;
  margin: 0 5%;
}
header .buttons button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
@media (max-width: 500px) {
  header .buttons button {
    width: 100%;
    margin: 1%;
    font-size: 1.7rem;
  }
}
header .location {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 1.4rem;
}
header .navSearch {
  width: 25%;
  font-size: 1.6rem;
}
header .navSearch input {
  width: 100%;
}
header .navSearch i {
  z-index: 9;
}
.moButtons {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
  width: 35%;
}
.moButtons button {
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  padding: 2% 0;
}
.moButtons button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
.moButtons .longerButton {
  width: 10.5rem;
}
.topBanner {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
@media (max-width: 800px) {
  .topBanner {
    display: flex;
    flex-direction: column-reverse;
  }
}
.topBanner .h1Right {
  width: 50%;
  background-image: url(../img/joshua-coleman-vf7v9MWoNLk-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}
@media (max-width: 800px) {
  .topBanner .h1Right {
    width: 90%;
    margin-left: 5%;
  }
}
.topBanner .h1Right h1 {
  font-size: 800%;
  text-align: right;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-shadow: white 3px 3px 15px;
  margin-bottom: 15%;
}
@media (max-width: 500px) {
  .topBanner .h1Right h1 {
    margin-top: 18%;
    font-size: 6rem;
  }
}
@media (max-width: 800px) {
  .topBanner .h1Right h1 {
    margin-top: 20%;
  }
}
.topBanner .h1 {
  width: 50%;
  padding: 4%;
}
@media (max-width: 800px) {
  .topBanner .h1 {
    width: 100%;
  }
}
.topBanner .h1 h2 {
  text-align: center;
  color: #025c5c;
  font-family: "Permanent Marker", cursive;
  text-shadow: 5px 5px 15px grey;
}
@media (max-width: 800px) {
  .topBanner .h1 h2 {
    color: red;
    font-size: 270%;
    transform: skew(10deg, -11deg);
    text-align: left;
    position: absolute;
    margin-top: -52%;
  }
}
@media (max-width: 500px) {
  .topBanner .h1 h2 {
    font-size: 2rem;
    transform-origin: left;
    transform: skew(-5deg, -10deg);
    margin-top: -48%;
  }
}
.topBanner .h1 p {
  font-size: 5rem;
  font-weight: 600;
  color: teal;
  margin: 10% 0;
}
@media (max-width: 800px) {
  .topBanner .h1 p {
    margin: 1% 0;
  }
}
@media (max-width: 500px) {
  .topBanner .h1 p {
    font-size: 3.4rem;
  }
}
.topBanner .h1 .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBanner .h1 .search a {
  color: white;
  text-decoration: none;
}
.topBanner .h1 .search input {
  width: 70%;
  font-size: 2rem;
}
.topBanner .h1 .search button {
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  padding: 2% 0;
  width: 28%;
  font-size: 1.6rem;
}
.topBanner .h1 .search button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
.photoSection {
  background-image: url(../img/jhon-david-plAYVXwJ5cA-unsplash.jpg);
  height: 20vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  background-position-y: 50%;
}
@media (max-width: 800px) {
  .photoSection {
    background-size: 150%;
    background-position-x: 70%;
  }
}
@media (max-width: 500px) {
  .photoSection {
    background-position-y: 80%;
    background-size: 245%;
  }
}
.photoSectionDesktop {
  background-image: url(../img/jhon-david-plAYVXwJ5cA-unsplash.jpg);
  height: 20vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  background-position-y: 50%;
}
@media (max-width: 800px) {
  .photoSectionDesktop {
    display: none;
  }
}
@media (max-width: 800px) {
  .triSection {
    display: flex;
    flex-direction: row;
  }
}
.triSection .icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 800px) {
  .triSection .icons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
.triSection .icons .mjleaf {
  margin-top: 4%;
}
.triSection .icons img {
  justify-self: center;
  margin: 5% 0 2%;
}
@media (max-width: 500px) {
  .triSection .icons img {
    display: none;
  }
}
.triSection .icons div {
  text-align: center;
}
.triSection .icons div h3 {
  font-size: 2.5rem;
  padding: 3% 0 5%;
  color: #025c5c;
}
@media (max-width: 800px) {
  .triSection .icons div h3 {
    padding: 6% 0 3%;
  }
}
.triSection .icons div p {
  padding: 5% 5% 15%;
  color: teal;
}
@media (max-width: 800px) {
  .triSection .icons div p {
    padding: 5%;
    border-bottom: 1px grey solid;
  }
}
.logoHome {
  margin-left: 3%;
}
.logoHome a {
  font-weight: 600;
  color: white;
  font-size: 3rem;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
}
.h1Home {
  width: 100%;
  background: url(../img/dark-green-leafed-plant-2731663.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 37vh;
  background-position-y: -27vh;
}
.h1Home a {
  color: white;
  text-decoration: none;
}
.h1Home h1 {
  color: white;
  padding: 4% 0 0 5%;
  text-shadow: black 0px 0px 10px;
  word-spacing: 5px;
  line-height: 120%;
}
.h1Home button {
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  padding: 1% 0;
  width: 10%;
  margin: 1.5% 0 2% 5%;
}
.h1Home button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
section .links a {
  color: white;
  text-decoration: none;
}
section .strainTitle {
  width: 94%;
  margin: 0 3%;
  margin: 2% 3% 1%;
  color: #025c5c;
  display: flex;
  justify-content: space-between;
}
section .strainTitle h3 {
  font-size: 250%;
  font-weight: 600;
  color: #025c5c;
  padding-left: 0;
}
section .strainTitle a {
  align-self: flex-end;
  font-size: 150%;
  color: #025c5c;
  font-weight: 600;
}
section .strainSqrs {
  width: 94%;
  margin: 0 3%;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}
section .strainSqrs .square {
  min-width: 45vh;
  max-height: 60vh;
  min-height: 55vh;
  border: 1px solid purple;
  border-radius: 5px;
  margin: 1% 2% 0% 0%;
}
section button {
  margin: 1% 0 3% 3%;
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  border: 1px solid salmon;
  width: 17rem;
  padding: 1% 0;
  border-radius: 7px;
}
section button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
section .strainApp {
  border: 5px dashed #770d60;
  width: 50%;
  height: 42%;
  margin: 15% 25%;
  border-radius: 7px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: linear-gradient(to top, teal, aqua);
}
section .strainApp p {
  align-self: flex-start;
  color: orange;
  border: 1px solid white;
}
section .strainApp h4 {
  align-self: center;
  font-size: 700%;
  color: white;
  border: darkred 1px solid;
}
h3 {
  padding: 2% 3% 0 3%;
  font-size: 250%;
  font-weight: 600;
  color: #025c5c;
}
.dispos {
  overflow: auto;
  padding: 2% 0 3%;
  width: 94%;
  margin: 0 3%;
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(15, 40vh);
  grid-template-rows: 1fr;
}
.dispos .dispoTiles {
  width: 40vh;
  height: 40vh;
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.dispos .dispoTiles .shirkMe {
  width: 5%;
}
.dispos .dispoTiles img {
  height: 90%;
  width: 100%;
}
.dispos .dispoTitle {
  padding-left: 3%;
}
.dispos .dispoTitle h5 {
  font-size: 2rem;
  color: #025c5c;
}
.dispos button {
  width: 92%;
}
.dispos button a {
  color: white;
  text-decoration: none;
}
.news {
  width: 94%;
  margin: 0 3%;
  border: 1px solid pink;
  padding: 1% 0;
  display: flex;
  justify-content: space-between;
}
.news .newsTile {
  background-color: #a8a6a6;
  border-radius: 7px;
  border: 1px solid orange;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 33%;
}
.news .newsTile img {
  padding-bottom: 3%;
  border-radius: 7px;
}
.news .newsText {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.news button a {
  color: white;
  text-decoration: none;
}
.news h5 {
  font-size: 2rem;
  align-self: center;
  padding-bottom: 2%;
}
.homeBanners {
  height: 20vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  background-position-y: 50%;
  height: 15vh;
  background-image: url(../img/robert-nelson--CDNBtuiQYE-unsplash.jpg);
}
