@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
.h3 {
  font-size: 250%;
  font-weight: 600;
  color: #025c5c;
}
.test {
  height: 50vh;
}
.about {
  margin: 5%;
  padding: 2%;
  border-bottom: 1px solid rgba(0, 0, 5, 0.3);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3.5rem;
  font-family: "Permanent Marker", cursive;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h6 {
  font-size: 1.6rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #025c5c;
  padding: 1% 0 1.5%;
  z-index: 99;
  position: fixed;
  width: 100%;
}
@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: initial;
  }
}
header a {
  color: white;
  text-decoration: none;
}
header .logo {
  margin-left: 40%;
}
header .logo a {
  font-weight: 600;
  color: white;
  font-size: 2.5rem;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
}
@media screen {
  header .logo a {
    font-size: 1.8rem;
  }
}
@media (max-width: 800px) {
  header .logo {
    margin-left: 2%;
  }
}
header .buttons {
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 15%;
}
@media (max-width: 500px) {
  header .buttons {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 1% 2.5%;
  }
}
header .buttons button {
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 2% 0;
  margin: 0 5%;
}
header .buttons button a {
  font-size: 1.1rem;
}
header .buttons button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
@media (max-width: 500px) {
  header .buttons button {
    width: 100%;
    margin: 1%;
    font-size: 1.7rem;
  }
}
header .location {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 1.4rem;
}
header .navSearch {
  width: 30%;
  font-size: 145%;
  margin-top: 1%;
}
header .navSearch:hover p {
  display: grid;
  color: white;
}
header .navSearch p {
  color: #025c5c;
  width: 125%;
  margin-bottom: -4%;
  font-size: 1rem;
}
@media (max-width: 800px) {
  header .navSearch p {
    font-size: 80%;
    padding-bottom: 3%;
    margin-left: -12%;
  }
}
@media (max-width: 500px) {
  header .navSearch p {
    font-size: 75%;
    color: white;
  }
}
header .navSearch input {
  width: 100%;
  padding: 1.5%;
}
@media (max-width: 800px) {
  header .navSearch {
    width: 94%;
    margin: 1% 3%;
    font-size: 1.5rem;
  }
}
.moButtons {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
  width: 32%;
}
@media (max-width: 800px) {
  .moButtons {
    width: 100%;
    display: flexbox;
    flex-direction: column;
    margin-right: 0;
  }
}
.moButtons .longerButton {
  width: 50%;
}
@media (max-width: 800px) {
  .moButtons .longerButton {
    width: 94%;
    margin: 0.5% 3%;
  }
}
.moButtons button {
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 1% 0;
}
.moButtons button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
.moButtons button a {
  font-size: 1.1rem;
}
@media (max-width: 800px) {
  .moButtons button {
    width: 94%;
    margin: 0.5% 3%;
    padding: 1.5% 0;
  }
}
footer {
  text-align: center;
  color: white;
  background: #025c5c;
  padding: 1%;
}
footer .footerLinks {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 70%;
  margin: 1% 15%;
}
footer .footerLinks a {
  font-size: 1.5rem;
  color: #73e2ce;
}
@media (max-width: 500px) {
  footer .footerLinks {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  footer .footerLinks a {
    padding: 2%;
    margin: 10% 0 15%;
  }
}
footer .footerSpace {
  margin: 0 15%;
  display: flex;
  justify-content: space-around;
}
footer .landing {
  opacity: 0.2;
}
.topBanner {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5%;
  padding-top: 10%;
}
@media (max-width: 800px) {
  .topBanner {
    display: flex;
    flex-direction: column-reverse;
  }
}
.topBanner .h1Right {
  width: 50%;
  background-image: url(../img/joshua-coleman-vf7v9MWoNLk-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}
@media (max-width: 800px) {
  .topBanner .h1Right {
    width: 90%;
    margin-left: 5%;
  }
}
.topBanner .h1Right h1 {
  font-size: 800%;
  text-align: right;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-shadow: white 3px 3px 15px;
  margin-bottom: 15%;
}
@media (max-width: 500px) {
  .topBanner .h1Right h1 {
    margin-top: 18%;
    font-size: 6rem;
  }
}
@media (max-width: 800px) {
  .topBanner .h1Right h1 {
    margin-top: 20%;
  }
}
.topBanner .h1 {
  width: 50%;
  padding: 4%;
}
@media (max-width: 800px) {
  .topBanner .h1 {
    width: 100%;
  }
}
.topBanner .h1 h2 {
  text-align: center;
  color: #025c5c;
  font-family: "Permanent Marker", cursive;
  text-shadow: 5px 5px 15px grey;
}
@media (max-width: 800px) {
  .topBanner .h1 h2 {
    color: red;
    font-size: 270%;
    transform: skew(10deg, -11deg);
    text-align: left;
    position: absolute;
    margin-top: -52%;
  }
}
@media (max-width: 500px) {
  .topBanner .h1 h2 {
    font-size: 2rem;
    transform-origin: left;
    transform: skew(-5deg, -10deg);
    margin-top: -48%;
  }
}
.topBanner .h1 p {
  font-size: 5rem;
  font-weight: 600;
  color: teal;
  margin: 10% 0;
}
@media (max-width: 800px) {
  .topBanner .h1 p {
    margin: 1% 0;
  }
}
@media (max-width: 500px) {
  .topBanner .h1 p {
    font-size: 3.4rem;
  }
}
.topBanner .h1 .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBanner .h1 .search a {
  color: white;
  text-decoration: none;
}
.topBanner .h1 .search input {
  width: 70%;
  font-size: 2rem;
}
.topBanner .h1 .search button {
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 2% 0;
  width: 28%;
  font-size: 1.6rem;
}
.topBanner .h1 .search button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
.photoSection {
  background-image: url(../img/jhon-david-plAYVXwJ5cA-unsplash.jpg);
  height: 20vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  background-position-y: 0%;
}
@media (max-width: 800px) {
  .photoSection {
    background-size: 150%;
    background-position-x: 70%;
  }
}
@media (max-width: 500px) {
  .photoSection {
    background-position-y: 80%;
    background-size: 245%;
  }
}
.photoSectionDesktop {
  background-image: url(../img/jhon-david-plAYVXwJ5cA-unsplash.jpg);
  height: 20vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  background-position-y: 0%;
}
@media (max-width: 800px) {
  .photoSectionDesktop {
    display: none;
  }
}
.about {
  padding: 3% 0;
  width: 94%;
  margin: 0 3%;
  text-align: center;
}
.about h2 {
  color: #025c5c;
  font-size: 3.5rem;
}
.about p {
  color: teal;
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  .triSection {
    display: flex;
    flex-direction: row;
  }
}
.triSection .icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 800px) {
  .triSection .icons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
.triSection .icons .mjleaf {
  margin-top: 4%;
}
.triSection .icons img {
  justify-self: center;
  margin: 5% 0 2%;
}
@media (max-width: 500px) {
  .triSection .icons img {
    display: none;
  }
}
.triSection .icons div {
  text-align: center;
}
.triSection .icons div h3 {
  font-size: 2.5rem;
  padding: 3% 0 5%;
  color: #025c5c;
}
@media (max-width: 800px) {
  .triSection .icons div h3 {
    padding: 6% 0 3%;
  }
}
.triSection .icons div p {
  padding: 5% 5% 10%;
  color: teal;
}
@media (max-width: 800px) {
  .triSection .icons div p {
    padding: 5%;
    border-bottom: 1px grey solid;
  }
}
.logoHome {
  margin-left: 3%;
}
.logoHome a {
  font-weight: 600;
  color: white;
  font-size: 2.5rem;
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
}
@media screen {
  .logoHome a {
    font-size: 1.8rem;
  }
}
.h1Home {
  width: 100%;
  background: url(../img/kym-mackinnon-9FLYDnEdKY0-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 43vh;
  background-position-y: -15vh;
}
@media (max-width: 800px) {
  .h1Home {
    display: flex;
    background-position-y: top;
  }
}
@media (max-width: 500px) {
  .h1Home {
    height: 35vh;
  }
}
.h1Home a {
  color: white;
  text-decoration: none;
}
.h1Home h1 {
  color: white;
  padding: 8% 0 0 5%;
  text-shadow: black 0px 0px 15px, white 0px 0px 10px, black 0px 0px 5px,
            black 0px 0px 2px;
  word-spacing: 5px;
  line-height: 120%;
}
@media (max-width: 500px) {
  .h1Home h1 {
    font-size: 3rem;
  }
}
.h1Home button {
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 0.8% 0;
  width: 15%;
  margin: 1% 0 2% 5%;
}
.h1Home button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
@media (max-width: 800px) {
  .h1Home button {
    padding: 1%;
    margin-right: 10%;
    width: 40%;
    align-self: flex-end;
  }
}
section .links a {
  color: white;
  text-decoration: none;
}
section .strainTitle {
  width: 94%;
  margin: 0 3%;
  margin: 2% 3% 1%;
  color: #025c5c;
  display: flex;
  justify-content: space-between;
}
section .strainTitle h3 {
  font-size: 250%;
  font-weight: 600;
  color: #025c5c;
  padding-left: 0;
}
section .strainTitle a {
  align-self: flex-end;
  font-size: 150%;
  color: #025c5c;
  font-weight: 600;
}
section .strainSqrs {
  width: 94%;
  margin: 0 3%;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}
section .strainSqrs .square {
  display: grid;
  min-width: 20vw;
  min-height: 20vh;
  border: 1px solid rgba(0, 0, 5, 0.3);
  border-radius: 5px;
  margin: 1% 2% 1%;
}
section .strainSqrs .square h5 {
  color: #025c5c;
  text-align: center;
  font-size: 3.5rem;
  padding: 3% 0;
}
@media (max-width: 500px) {
  section .strainSqrs .square h5 {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  section .strainSqrs {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    row-gap: 5%;
  }
  section .strainSqrs .square {
    min-width: 80%;
  }
  section .strainSqrs .strainApp {
    width: 1.6in;
    height: 1.6in;
  }
}
@media (max-width: 500px) {
  section .strainSqrs .square {
    overflow: hidden;
    min-width: 90%;
    min-height: 20%;
  }
  section .strainSqrs .strainApp {
    width: 1.3in;
    height: 1.3in;
  }
  section .strainSqrs .strainApp p {
    font-size: 1.5rem;
    padding: 0;
    margin-left: 10%;
  }
  section .strainSqrs .strainApp h4 {
    margin-left: -5%;
    font-size: 4rem;
  }
}
section button {
  margin: 1% 0 3% 3%;
  width: 8rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(teal, #025c5c);
  color: white;
  font-weight: 700;
  border: 1px white solid;
  border-radius: 3px;
  font-size: 1.4rem;
  width: 17rem;
  padding: 1% 0;
  border-radius: 7px;
}
section button:hover {
  color: black;
  background: linear-gradient(#025c5c, teal);
  cursor: pointer;
}
section .strainApp {
  height: 1.6in;
  width: 1.6in;
  border-radius: 7px;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10% 0;
  background: linear-gradient(to top, teal, aqua);
}
section .strainApp .sativa {
  color: green;
  text-shadow: white 0 0 2px;
  text-shadow: black 0 0 1px;
}
section .strainApp .indica {
  text-shadow: white 0 0 2px;
  text-shadow: black 0 0 1px;
  color: purple;
}
section .strainApp p {
  padding-left: 10%;
  font-size: 2rem;
}
section .strainApp h4 {
  font-size: 550%;
  color: white;
  align-self: center;
  margin-left: -25%;
}
h3 {
  padding: 2% 3% 0 3%;
  font-size: 250%;
  font-weight: 600;
  color: #025c5c;
}
.dispos {
  overflow: auto;
  padding: 2% 0 3%;
  width: 94%;
  margin: 0 3%;
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(15, 40vh);
  grid-template-rows: 1fr;
}
@media (max-width: 800px) {
  .dispos {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .dispos {
    display: flex;
    flex-direction: column;
  }
}
.dispos .dispoTiles {
  width: 40vh;
  height: 43vh;
  border: 1px solid rgba(0, 0, 5, 0.3);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.dispos .dispoTiles .shirkMe {
  width: 5%;
}
.dispos .dispoTiles img {
  height: 90%;
  width: 100%;
}
@media (max-width: 800px) {
  .dispos .dispoTiles {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .dispos .dispoTiles {
    width: 90%;
    margin: 1% 5%;
    height: 100%;
  }
  .dispos .dispoTiles button {
    padding: 1.5% 0;
  }
}
.dispos .dispoTitle {
  padding-left: 3%;
}
.dispos .dispoTitle h5 {
  font-size: 2rem;
  color: #025c5c;
}
.dispos button {
  width: 92%;
  padding: 3%;
}
.dispos button a {
  color: white;
  text-decoration: none;
}
.news {
  width: 94%;
  margin: 0 3%;
  padding: 1% 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
  }
}
@media (max-width: 500px) {
  .news {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .news img {
    height: 40vh;
    width: 100%;
  }
}
.news .newsTile {
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 5, 0.3);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 20%;
}
@media (max-width: 800px) {
  .news .newsTile {
    width: 94%;
    margin-bottom: 6%;
  }
}
.news .newsTile img {
  border-radius: 7px;
  padding-bottom: 10%;
}
@media (max-width: 500px) {
  .news .newsTile img {
    padding: 0;
  }
}
@media (max-width: 800px) {
  .news .newsTile img {
    padding: 5%;
  }
}
.news .newsText {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.news button {
  padding: 2%;
  width: 90%;
  margin: 5%;
}
.news button a {
  color: white;
  text-decoration: none;
}
.news h5 {
  font-size: 2.5rem;
  align-self: center;
  padding: 2%;
}
.homeBanners {
  height: 20vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  background-position-y: 0%;
  height: 18vh;
  background-image: url(../img/robert-nelson--CDNBtuiQYE-unsplash.jpg);
  background-position-y: 50%;
}
@media (max-width: 800px) {
  .homeBanners {
    display: none;
  }
}
.aboutUs h4,
.aboutUs h2 {
  color: #025c5c;
  font-weight: 700;
}
@media (max-width: 500px) {
  .aboutUs h4,
  .aboutUs h2 {
    padding: 5%;
  }
}
.aboutUs h5 {
  color: teal;
}
.aboutUs h4 {
  margin: 0 3%;
}
.aboutUs h5 {
  margin: 0 5%;
  font-size: 2.4rem;
  padding: 0.5%;
  text-decoration: underline;
}
.aboutUs p {
  margin: 2% 10% 3%;
}
.aboutUs img {
  padding: 5%;
}
@media (max-width: 500px) {
  .aboutUs img {
    align-self: start;
  }
}
.aboutUs .aboutTitle {
  padding: 1% 0;
  margin-bottom: 1%;
  border-bottom: double teal 10px;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutUs .aboutTitle {
    padding: 5%;
  }
}
.aboutUs .aboutPeople {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 5%;
  padding: 2%;
  border-bottom: 1px solid rgba(0, 0, 5, 0.3);
  padding: 3% 0;
  width: 94%;
  margin: 0 3%;
  text-align: center;
  text-align: left;
}
.aboutUs .aboutPeople h2 {
  color: #025c5c;
  font-size: 3.5rem;
}
.aboutUs .aboutPeople p {
  color: teal;
  font-size: 1.8rem;
}
.aboutUs .RaboutPeople {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 5%;
  padding: 2%;
  border-bottom: 1px solid rgba(0, 0, 5, 0.3);
  padding: 3% 0;
  width: 94%;
  margin: 0 3%;
  text-align: center;
  text-align: right;
}
.aboutUs .RaboutPeople h2 {
  color: #025c5c;
  font-size: 3.5rem;
}
.aboutUs .RaboutPeople p {
  color: teal;
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  .aboutUs p {
    margin: 4% 0 0;
  }
  .aboutUs .RaboutPeople p {
    margin-right: -10%;
  }
  .aboutUs .aboutPeople p {
    margin-left: -10%;
  }
}
.left,
.right {
  align-self: center;
}
.strainInfo {
  border-radius: 7px;
  width: 94%;
  margin: 0 3%;
  background: rgba(32, 178, 171, 0.116);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2% 0%;
}
@media (max-width: 800px) {
  .strainInfo {
    display: flex;
    flex-direction: column;
  }
  .strainInfo .square {
    width: 15%;
    border: hidden;
  }
}
.strainInfo .strainSqrs {
  padding: 2%;
  display: flex;
  justify-self: center;
  justify-content: center;
}
.strainInfo .detailsOnStrain {
  padding: 2% 2% 2% 0;
}
