.logoHome {
    .logo();
    margin-left: 3%;
}
.h1Home {
    @media @tablet {
        display: flex;
        background-position-y: top;
    }
    @media @phone {
        height: 35vh;
    }
    .links();
    width: 100%;
    background: url(../img/kym-mackinnon-9FLYDnEdKY0-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 43vh;
    background-position-y: -15vh;
    // background-position: center;
    // position: relative;
    h1 {
        color: white;
        padding: 8% 0 0 5%;
        text-shadow: black 0px 0px 15px, white 0px 0px 10px, black 0px 0px 5px,
            black 0px 0px 2px;
        word-spacing: 5px;
        line-height: 120%;
        @media @phone {
            font-size: 3rem;
        }
    }
    button {
        .button();
        padding: 0.8% 0;
        width: 15%;
        margin: 1% 0 2% 5%;
        @media @tablet {
            padding: 1%;
            margin-right: 10%;
            width: 40%;
            align-self: flex-end;
        }
    }
}
section {
    .links {
        .links();
    }
    .strainTitle {
        .containers();
        margin: 2% 3% 1%;
        color: @mainColor;
        .flex(space-between);
        h3 {
            .h3();
            padding-left: 0;
        }
        a {
            align-self: flex-end;
            font-size: 150%;
            color: @mainColor;
            font-weight: 600;
        }
    }
    .strainSqrs {
        .containers();
        .flex(flex-start);
        overflow: auto;

        .square {
            min-width: 45vh;
            max-height: 50vh;
            min-height: 45vh;
            border: @thatGreyBorder;
            border-radius: 5px;
            margin: 1% 2% 0% 0%;
            h5 {
                color: @mainColor;
                text-align: center;
                font-size: 3.5rem;
                @media @phone {
                    font-size: 2rem;
                    padding-bottom: 3%;
                }
            }
        }
        @media @tablet {
            display: grid;
            overflow: none;
            grid-template-columns: 1fr 1fr;
            row-gap: 5%;
            .square {
                width: 45%;
            }
            .strainApp {
                width: 22vh;
                height: 22vh;
            }
        }
        @media @phone {
            .square {
                overflow: hidden;
                min-width: 90%;
                min-height: 20%;
            }
            .strainApp {
                width: 15vh;
                height: 15vh;
                p {
                    font-size: 1.5rem;
                    padding: 0;
                    margin-left: 10%;
                }
                h4 {
                    margin-left: -15%;
                    font-size: 4rem;
                }
            }
        }
    }
    button {
        margin: 1% 0 3% 3%;
        .button();
        width: 17rem;
        padding: 1% 0;
        border-radius: 7px;
    }
    .strainApp {
        width: 50%;
        height: 44%;
        margin: 15% 25%;
        border-radius: 7px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        p {
            font-size: 2rem;
            align-self: flex-start;
            color: purple;
        }

        h4 {
            justify-self: center;
            align-self: center;
            font-size: 700%;
            color: white;
        }
        background: linear-gradient(to top, teal, aqua);
    }
}
h3 {
    padding: 2% 3% 0 3%;
    .h3();
}
.dispos {
    overflow: auto;
    padding: 2% 0 3%;
    .containers();
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(15, 40vh);
    grid-template-rows: 1fr;
    @media @tablet {
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        .dispoTiles {
            margin-bottom: 5%;
        }
    }
    @media @phone {
        display: flex;
        flex-direction: column;
    }
    .dispoTiles {
        width: 40vh;
        height: 43vh;
        border: @thatGreyBorder;
        .flex(space-between);
        flex-direction: column;
        .shirkMe {
            width: 5%;
        }
        img {
            height: 90%;
            width: 100%;
        }
        @media @phone {
            width: 90%;
            margin: 1% 5%;
            height: 100%;
            button {
                padding: 1.5% 0;
            }
        }
    }
    .dispoTitle {
        padding-left: 3%;
        h5 {
            font-size: 2rem;
            color: @mainColor;
        }
    }
    button {
        .links();
        width: 92%;
        padding: 3%;
    }
}

// h3 {
//     .h3();
//     padding: 3% 0 1%;
// }
// .dispoTiles {
//     padding: 3%;
//     border: 1px solid green;
//     overflow-x: auto;
//     overflow-y: hidden;
//     .flex(space-around);
//     div {
//         border: 1px solid red;
//         button {
//             .links();
//             .button();
//         }
//     }
//     .tileSeparation {
//         .flex(space-between);
//         flex-direction: column;
//     }
// }

.news {
    .containers();
    padding: 1% 0;
    .flex(space-between);
    @media @tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10%;
    }
    @media @phone {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
            height: 40vh;
            width: 100%;
        }
    }
    .newsTile {
        border-radius: 7px;
        border: @thatGreyBorder;
        .flex(space-between);
        flex-direction: column;
        width: 20%;
        @media @tablet {
            width: 94%;
            margin-bottom: 6%;
        }
        img {
            border-radius: 7px;
            padding-bottom: 10%;
            @media @phone {
                padding: 0;
            }
            @media @tablet {
                padding: 5%;
            }
        }
    }
    .newsText {
        .flex(space-between);
        flex-direction: column;
    }
    button {
        .links();
        padding: 2%;
        width: 90%;
        margin: 5%;
    }
    h5 {
        font-size: 2.5rem;
        align-self: center;
        padding: 2%;
    }
}

.homeBanners {
    @media @tablet {
        display: none;
    }
    .growing();
}
footer {
    text-align: center;
    color: white;
    background: @mainColor;
    padding: 1%;
}
