header {
    .flex(space-between);
    align-items: center;
    background-color: @mainColor;
    padding: 1% 0 1.5%;
    z-index: 99;
    position: fixed;
    width: 100%;
    @media @tablet {
        flex-direction: column;
    }
    @media @phone {
        flex-direction: column;
    }
    .links();
    .logo {
        margin-left: 40%;
        .logo();
        @media @tablet {
            margin-left: 2%;
        }
    }
    .buttons {
        margin-right: 3%;
        .flex(space-between);
        flex-direction: row;
        width: 15%;

        @media @phone {
            width: 95%;
            display: flex;
            flex-direction: column;
            margin: 1% 2.5%;
        }

        button {
            .button();
            padding: 3% 0;
            margin: 0 5%;
            @media @phone {
                width: 100%;
                margin: 1%;
                font-size: 1.7rem;
            }
        }
    }

    .location {
        color: white;
        font-family: @headingFont;
        font-size: 1.4rem;
    }
    .navSearch {
        width: 25%;
        font-size: 125%;
        input {
            width: 100%;
        }
        @media @tablet {
            width: 95%;
            margin: 0 2.5%;
        }
    }
}
.moButtons {
    .flex(space-between);
    margin-right: 3%;
    width: 35%;
    button {
        .button();
        padding: 2% 0;
        a {
            font-size: 1.1rem;
        }
        @media @tablet {
            width: 100%;
        }
    }
    .longerButton {
        width: 13rem;
    }
    @media @tablet {
        display: grid;
        gridborder: 1px solid red;
        display: grid;
        justify-content: center;
        width: 100%;
    }
}
