.strainInfo {
    @media @tablet {
        .square {
            width: 15%;
        }
    }
    @media @phone {
        display: flex;
        flex-direction: column;
    }
    .strainSqrs {
        padding: 2%;
        display: flex;
        justify-self: center;
        justify-content: center;
    }
    border-radius: 7px;
    .containers();
    background: rgba(32, 178, 171, 0.116);
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2% 0%;
    .detailsOnStrain {
        padding: 2% 2% 2% 0;
    }
}
