@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

@headingFont: "Permanent Marker", cursive;

@mainColor: rgb(2, 92, 92);

@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";
